.introWelcome {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.intro {
  text-align: center;
  margin-top: -13px;
  font-size: 14px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #077E43;
  box-sizing: border-box;
  border-radius: 20px;
}

input:focus { 
  outline: none;
  border-color: orange;
  box-shadow: 0 0 10px orange;
}

.loginbtn {
  color: white;
  font-size: 18px;
  position: relative;
  width: 196.87px;
  height: 43px;
  top: calc(50% - 43px/2 + 166.5px);
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  text-align: center;
  
  background: #7FC805;
  border-radius: 16px;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

img.avatar {
  width: 25%;
}

.container {
  padding: 15px;
}

span.psw {
  font-size: 13px;
  display: block;
  text-align: center;
  padding-top: 0px;
}

.bottom-container {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logocontainer {
  position: relative;
  margin: 20px 0px 20px 0px;
  text-align: center;
}


/* CAMERA  */
a {
  display: block;
}

canvas {
  display: none;
}

.video-container {
  margin: 0 auto;
  max-width: 85%;
  max-height: 65%;
  aspect-ratio: 9 / 16;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
}

#webCam {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
}

.imgcontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.shuttercontainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.shutterbtn {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out;
}

.shutterbtn.clicked {
  opacity: 0.4;
}

@media screen and (max-width: 600px) {
  img.avatar {
    width: 60%;
  }

  span.psw {
    font-size: 12px;
    display: block;
    float: none;
  }
}
