/* LOGIN AND SIGNUP */

.introWelcome {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.intro {
  text-align: center;
  margin-top: -13px;
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #077e43;
  box-sizing: border-box;
  border-radius: 20px;
}

input:focus {
  outline: none;
  border-color: orange;
  box-shadow: 0 0 10px orange;
}

.loginbtn {
  color: white;
  font-size: 18px;
  position: relative;
  width: 196.87px;
  height: 43px;
  top: calc(50% - 43px / 2 + 166.5px);
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  text-align: center;

  background: #7fc805;
  border-radius: 16px;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: o auto;
}

img.avatar {
  width: 25%;
}

.container {
  padding: 15px;
}

span.psw {
  font-size: 13px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bottom-container {
  display: flex;
  position: relative;
  justify-content: center;
  top: -20px;
  width: 100%;
}

.logocontainer {
  position: relative;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

/* CAMERA  */

a {
  display: block;
}

canvas {
  display: none;
}

.video-container {
  margin: 0 auto;
  max-width: 85%;
  max-height: 65%;
  aspect-ratio: 16/9;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
}

#webCam {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
}

.shuttercontainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.shutterbtn {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out;
}

.shutterbtn.clicked {
  opacity: 0.4;
}

/* HAMBURGER MENU AND ANIMATIONS, PLS DO NOT CHANGE STUFF  */

nav {
  background: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .mainMenu {
  height: 100vh;
  width: 300px;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  right: 0px;
  left: -100%;
  z-index: 11;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #d9ebb4;
  transition: left 1s ease 0s;
  display: flex;
  list-style: none;
  row-gap: 1rem;
}

nav .mainMenu li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav .mainMenu li img {
  height: 40px;
  width: 40px;
  display: flex;
  padding: 10px;
}

nav .mainMenu li a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 23px;
  transition: 0.2s ease;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}

nav .openMenu {
  display: block;
}

nav .mainMenu .icons i {
  justify-content: flex-end;
  display: inline-block;
  padding: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: none;
  z-index: 9;
}

.overlay.active {
  display: block;
}

@media screen and (max-width: 800px) {
  .video-container {
    margin: 0 auto;
    max-width: 85%;
    max-height: 65%;
    aspect-ratio: 9/16;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
  }

  img.avatar {
    width: 60%;
  }

  span.psw {
    font-size: 12px;
    display: block;
    float: none;
  }
}

/* RESULTS HTML  */
.scanned-imgcontainer {
  display: flex;
  justify-content: center;
}

.scanned-img {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 20px;
  height: 338px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.result-category {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.result-material {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 20px 0;
}

.separator {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dashed-lines-png {
  width: 300px;
}

.gocoins-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gocoins-icon {
  width: 60px;
}

.gocoins-text {
  font-size: 18px;
}

.check-gocoins-section {
  display: grid;
  grid-template-rows: 50px 30px;
  justify-content: end;
}

.check-gocoins {
  font-size: 18px;
  color: #23859b;
  margin-right: 15px;
}

.check-gocoins-button {
  width: 100px;
  border: none;
  background-color: transparent;
}

.check-gocoins-arrow {
  width: 88px;
}

.arrow-div {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.rescan-section {
  display: flex;
  justify-content: center;
}

.rescan-button {
  background-color: transparent;
  border: none;
}
.rescan-icon {
  width: 70px;
  margin-bottom: 10px;
}

/* ------------------------------------ */

/* GOCOINTS TAB  */
.gocoins-main {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 60px 5px 40px 40px 40px 50px 5px 50px 50px 50px;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
}

.gocoins-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px 20px 10px;
}

.burger-menu {
  width: 70px;
}

.logo {
  width: 210px;
  text-align: center;
}

.camera-button {
  background-color: transparent;
  border: none;
}

.camera-icon {
  height: 50px;
}

.gocoins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gocoins-icon {
  width: 120px;
}

.gocoins-wallet-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.missions {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-left: 20px;
}

.missions-coupons-text {
  font-family: Poppins;
  font-size: 23px;
  font-weight: bold;
}

.underline {
  margin-top: -20px;
  margin-left: 20px;
}

.mission-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

.mission-text,
.coupons-text {
  font-family: Poppins;
  font-size: 11.5px;
}

.coupons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

.coupon-name {
  display: flex;
  justify-content: start;
  align-items: center;
}

.redeem-button {
  display: flex;
  align-items: center;
  border-color: transparent;
  border-style: solid;
  border-radius: 80px;
  background-color: #ff6b6b;
  height: 30px;
  margin-right: 20px;
}
